@model GeoMardis.Model.Admin.DashboardModelRegister
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="form-mardis">
    <h2>Gestión de Dashboard <small>Agregar/Editar Dashboard</small> </h2>
    <div class="box box-default">
        <form asp-action="AdmDash">

            <div class="box-header">
                <h4 class="box-title"><b>Información General del Dashboard</b></h4>
                <div class="box-title pull-right">
                    <h5><b>Fecha:</b>@ViewBag.fecha</h5>

                </div>
            </div>
            <div class="form-horizontal">
                <div class="box-body chat" id="chat-box">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="id" class="col-md-2 control-label"></label>
                        <div class="col-md-1">
                            @if (Model == null)
                            {
                                <input asp-for="id" class="form-control " disabled />
                            }
                            else
                            {
                                <input asp-for="id" class="form-control" />

                            }

                        </div>

                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="Name" class="form-control" placeholder="Ingrese el nombre del Mapa" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="Description" class="form-control" placeholder="Ingrese descripción del Mapa" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="form-group">
                        <label asp-for="Link" class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="Link" class="form-control" placeholder="Ingrese el link de visualización" />
                            <span asp-validation-for="Link" class="text-danger"></span>
                        </div>
                        <label asp-for="LinkModel" class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="LinkModel" class="form-control" placeholder="Ingrese el link de Tamaño Pequeño " />
                            <span asp-validation-for="LinkModel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-success">

                                <input asp-for="Status" id="checkbox1" type="checkbox" checked="" class="form-control">
                                <label for="checkbox1">

                                </label>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group col-md-12">
                        <div class="pull-right ">
                            <a href="@Url.Action( "AdmMap", "Admin")" class="  btn btn-success">
                                Nuevo
                            </a>

                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-table"></i>
            <h3 class="box-title">Listado de Dashoard</h3>
            <div class="box-tools pull-right">

                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body chat" id="chat-box">
            <div id="DatosTabla" class="col-xs-10 col-md-12 col-lg-12" style="overflow: auto; width: 100%;">
                <table id="datosCoord"  class="uk-table uk-table-hover uk-table-striped">
                    <thead>
                        <tr>
                            <th data-sortable="true"> ID </th>
                            <th>
                                Nombres
                            </th>
                            <th>
                                Descripción
                            </th>

                            <th >
                                Estado
                            </th>
                            <th>
                                Link
                            </th>
                            <th>
                                Link Mobil
                            </th>
                            <th>
                                Fechas
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    </form>
    @{ Html.RenderPartial("_UserTable");}
</div>


@section Scripts {
   
    <script src="~/lib/DashBoard.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {


                generarTabla();
            });

                   function generarTabla() {

            var table=  $('#datosCoord').dataTable({
                "language": {
                    "url": "@Url.Content("~/js/latin.json")"
                }

                   ,

                "ajax": {
                    "url": '@Url.Action("_MapTableDash", "Admin")',
                    "type": "GET",
                    "data": function ( d ) {
                        return $.extend( {}, d, {
                            "Id": 0
                        } );
                    },
                    "dataSrc": function (json) {



                        jQuery.each(json, function (index, value) {
                            //now you can access properties using dot notation

                            json[index].update = "<a href='@Url.Action("selectDash", "Admin")?Ids=" + value.id + " ' class='glyphicon glyphicon-edit'>";
                            json[index].delete = "<a href='@Url.Action("DeleteDash", "Admin")?Ids=" + value.id + " ' class='glyphicon glyphicon-trash'>";
                            json[index].accion = "<a href='#responsive'" + " ' class='	glyphicon glyphicon-plus'  onclick='ModalPerfil(" + value.id + " );'>";
                        });
                        return json;
                    }
                },
                "columns": [
                    { "data": "id" },
                    { "data": "nombre" },
                    { "data": "descripcion" },
                    { "data": "estado" },
                    { "data": "link" },
                    { "data": "linkmobil" },
                    { "data": "fecha" },
                    { "data": "update" }
                    ,
                    { "data": "delete" }
                    ,
                    { "data": "accion" }
                ],



            });



        }
    </script>
}
